<% title "Edit Account" %>
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Edit Account</h3>
	</div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => "form-horizontal" , method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
	<%= f.label :email, :class => 'control-label col-lg-2' %>
	<div class="col-lg-10">
		<%= f.text_field :email, :class => 'form-control' , autofocus: true%> <%= f.error_span(:email) %>
	</div>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="form-group">
	<%= f.label :password, :class => 'control-label col-lg-2' %>
	<div class="col-lg-10">
		<%= f.text_field :password, :class => 'form-control' , autocomplete: "off"%>
		<i>(leave blank if you don't want to change it)</i><br />
		<%= f.error_span(:password) %>
	</div>
</div>

  <div class="form-group">
	<%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
	<div class="col-lg-10">
		<%= f.text_field :password_confirmation, :class => 'form-control' , autocomplete: "off"%>
		<%= f.error_span(:password_confirmation) %>
	</div>
</div>

  <div class="form-group">
	<%= f.label :current_password, :class => 'control-label col-lg-2' %>
	<div class="col-lg-10">
		<%= f.text_field :current_password, :class => 'form-control' , autocomplete: "off"%>
		 <i>(we need your current password to confirm your changes)</i><br />
		<%= f.error_span(:current_password) %>
	</div>
</div>

<div class="form-group pull-right">
	<%= f.submit "Update", class: "btn btn-success " %>
</div>
  
<% end %>


<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Cancel my account</h3>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-sm-6 hero-feature">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<%= link_to "Back", :back , class: "btn btn-primary "%>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 hero-feature col-md-offset-6">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-warning "%>
			</div>
		</div>
	</div>
</div>


